<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>AngularJS with GitHub API Test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app/app.js"></script>
</head>

<body ng-controller="gitHubController">

    <p>Enter a GitHub username to seach</p>
    <input type="text" ng-model="username" ng-change="onUserInputChanged()" placeholder="GitHub username...">

    <div ng-hide="userFound">
        <p>User not found</p>
    </div>

    <div ng-show="userFound">
        <table>
            <tr>
                <th>User</th>
                <th>Followers</th>
            </tr>
            <tr>
                <td>
                    <h3><a href="" ng-click="showUserRepos(usersData.login)">{{usersData.login}}</a></h3>
                    <img width="80" height="80" src="{{usersData.avatar_url}}" alt="{{usersData.name}}">
                </td>
                <td>
                    <ul ng-repeat="follower in userFollowersData | limitTo:3">
                        <li><a href="" ng-click="showUserRepos(follower.login)">{{follower.login}}</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="userHasRepos">
        <table>
            <tr>
                <th>Repo Name</th>
                <th>Description</th>
                <th>Last Changes</th>
            </tr>
            <tr ng-repeat="repo in userReposData">
                <td>
                    <p>{{repo.name}}</p>
                </td>
                <td>
                    <p>{{repo.description}}</p>
                </td>
                <td ng-init="commits = getRepoCommits(repo.id)">
                    <ul ng-repeat="commit in commits | limitTo:3">
                        <li>{{commit | json}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>